**/build
depends/libtorch
depends/torch-scatter-install/
depends/torch-sparse-install/
*lastexecution*
depends/libtorch-cxx11-abi-shared-with-deps*
cvt-output/*
actors/*-resource-limitations.yml
coveriteam/language/mpi_execution/__pycache__/
*~